/*Reset básico de estilos para navegadores*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  height: 100vh;
  background-color: var(--background-clear);
}
section {
  scroll-snap-align: start;
  scroll-margin-top: auto;
}
#share-button {
  cursor: pointer;
}
menu,
ol,
ul {
  list-style: none;
}
