/* Configuração da Página */
body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    circle at top,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  background-image: url(/images/gameboy_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.pika-pop {
  animation: pikaJump 0.5s ease-out;
}
@keyframes pikaJump {
  0% {
    transform: scale(0.3) translateY(100px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
body.modo-pikachu {
  background: linear-gradient(45deg, #ffeb3b, #fff176) !important;
  animation: relampago 0.5s infinite alternate;
}
@keyframes relampago {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1.3);
  }
}
body.modo-pikachu .card-wrap {
  box-shadow: 0 0 20px yellow !important;
}

.pika-pop {
  animation: pika-bounce 0.4s ease-in-out infinite alternate;
}

@keyframes pika-bounce {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1.1) rotate(5deg);
  }
}
.modo-lendario {
  background: radial-gradient(circle at center, #1b1b1b, #0f0f0f) !important;
  animation: brilhoLendario 0.8s infinite alternate;
}
@keyframes brilhoLendario {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1.3);
  }
}
.legendary-label {
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Arial Black", sans-serif;
  font-size: 2rem;
  color: gold;
  background: rgba(0, 0, 0, 0.75);
  padding: 0.5rem 1rem;
  border: 3px solid gold;
  border-radius: 15px;
  z-index: 9999;
  animation: piscar 1s infinite;
  box-shadow: 0 0 15px gold;
}
@keyframes piscar {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}
body.modo-lendario .card-wrap {
  box-shadow: 0 0 40px gold !important;
  animation: shake 0.2s infinite alternate;
}
@keyframes shake {
  0% {
    transform: rotate(0.1deg);
  }
  100% {
    transform: rotate(-0.1deg);
  }
}
.particle {
  position: fixed;
  pointer-events: none;
  z-index: 999;
  width: 10px;
  height: 10px;
  background: linear-gradient(45deg, yellow, orange, red);
  border-radius: 50%;
  animation: floatParticle 4s linear infinite;
}
@keyframes floatParticle {
  0% {
    transform: translateY(100vh) scale(0.8) rotate(0deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-10vh) scale(1.2) rotate(360deg);
    opacity: 0;
  }
}
@media (max-width: 600px) {
  .legendary-label {
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    border-width: 2px;
  }
}
