:root {
  /* Cores principais */
  --primary: #ffcb05; /* Amarelo Pokémon */
  --secondary: #2a75bb; /* Azul Pokémon */
  --tertiary: #ff0000; /* Vermelho Pokémon */
  --color-text: #fafafa;
  --color-text-btn: #ffffff;
  --span-text: #3f71ea; /* Cor do texto do span */
  --background: #f5f5f5; /* Cor de fundo padrão */
  --card: #473e3e; /* Cor do cartão */
  --background-footer: #2c292f; /* Cor de fundo do rodapé */
  --divider: #444; /* Cor do divisor */
  --border: #1a181b; /* Cor da borda */
  --description: #829987; /* Cor da descrição */
  --link1: #829990; /* Cor do link 1 */
  --link2: #33383b; /* Cor do link 2 */
  --pokeball-red: #c62828;
  --pokeball-black: #000000;
  --pokeball-button: #cccccc;
  --pokeball-grey: #f5f5f5;

  /* Cores específicas para ícones */
  --github-icon-color: #33383b; /* Cor do ícone do GitHub */
  --gmail-icon-color: #d14836; /* Cor do ícone do Gmail */
  --whatsapp-icon-color: #25d366; /* Cor do ícone do WhatsApp */
  --youtube-icon-color: #ff0000; /* Cor do ícone do YouTube */
  --tiktok-icon-color: #2c292f; /* Cor do ícone do TikTok */
  --instagram-icon-color: #bd0d9f; /* Cor do ícone do Instagram */
  --facebook-icon-color: #1877f2; /* Cor do ícone do Facebook */
  --linkedin-icon-color: #0a66c2; /* Cor do ícone do LinkedIn */
  --share-icon-color: #86146a; /* Cor do ícone de compartilhar */

  /* Efeitos */
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra padrão */
  --box-shadow-hover: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Sombra para hover */
  --transition: all 0.3s ease; /* Transição padrão */
  --transform: scale(1.05); /* Transformação para hover */
  --drop-shadow: drop-shadow(
    0 2px 4px rgba(0, 0, 0, 0.2)
  ); /* Sombra para hover */

  /* Fontes */
  --font-pokemon: "PokemonSolid", sans-serif; /* Fonte Pokémon */
  --font-noto: "Noto Sans JP", sans-serif; /* Fonte estilo japonesa */
  --font-inter: "Inter", sans-serif; /* Fonte Inter */
  --font-roboto: "Roboto", sans-serif; /* Fonte Roboto */
  --font-montserrat: "Montserrat", sans-serif; /* Fonte Montserrat */
  --font-opensans: "Open Sans", sans-serif; /* Fonte Open Sans */
  --font-permanent: "Permanent Marker", sans-serif; /* Fonte Permanent Marker */
  --font-poppins: "Poppins", sans-serif; /* Fonte Poppins */

  /* Tamanhos de fonte */
  --font-size-small: 12px; /* Tamanho de fonte pequeno */
  --font-size-medium: 16px; /* Tamanho de fonte médio */
  --font-size-large: 20px; /* Tamanho de fonte grande */
  --font-size-xlarge: 24px; /* Tamanho de fonte extra grande */
  --font-size-xxlarge: 28px; /* Tamanho de fonte muito grande */
}

/* Estilos personalizados para botões de atributos */
#btnHP {
  background: linear-gradient(to right, #ff8c00, #ffa500);
}
#btnAttack {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}
#btnDefense {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}
#btnSpecialAttack {
  background: linear-gradient(to right, #43cea2, #185a9d);
}
#btnSpecialDefense {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
}
#btnSpeed {
  background: linear-gradient(to right, #a9a9a9, #696969);
}

/* Hover dos botões */
#btnHP:hover {
  background: linear-gradient(to right, #ffa500, #ff8c00);
}
#btnAttack:hover {
  background: linear-gradient(to right, #ff4b2b, #ff416c);
}
#btnDefense:hover {
  background: linear-gradient(to right, #0072ff, #00c6ff);
}
#btnSpecialAttack:hover {
  background: linear-gradient(to right, #185a9d, #43cea2);
}
#btnSpecialDefense:hover {
  background: linear-gradient(to right, #4a00e0, #8e2de2);
}
#btnSpeed:hover {
  background: linear-gradient(to right, #696969, #a9a9a9);
}
