.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 0;
}
.about__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
  gap: 2rem;
  padding: 0 2rem;
}
.about__photos {
  width: 50%;
  max-width: auto;
  margin: 0 2rem;
}
.about__photo-wrapper {
  width: 90%;
}
.about__photo {
  width: 100%;
  height: auto;
}
.about__photo-wrapper--hidden {
  display: none;
}
.about__content {
  margin-top: 2rem;
  width: 70%;
  max-width: auto;
}
.about__title {
  font-family: var(--font-noto);
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}
.about__title-dot {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  background: var(--primary-color);
}
.about__description {
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: justify;
  color: #101820;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  .about__wrapper {
  }
  .about__photos {
    width: 30%; /* Ocupa toda a largura em telas pequenas */
    margin: 0; /* Remove margens laterais */
    order: 2; /* Define a ordem visual */
    background-position: left; /* Posiciona a imagem à esquerda */
  }
  .about__photo-wrapper {
    display: none;
  }
  .about__photo-wrapper--hidden {
    display: flex; /* Exibe a segunda imagem */
    width: 380px;
    max-width: auto; /* Tamanho máximo da imagem */
    margin: 0 auto; /* Centraliza verticalmente */
  }
  .about__photo--secondary {
    width: 100%;
    height: auto;
  }
  .about__content {
    flex: 1;
    width: 500px; /* Ocupa toda a largura */
    max-width: 100%; /* Remove restrições de largura */
    margin-top: 0; /* Remove margem superior */
    font-size: 1rem; /* Reduz o tamanho do texto */
    text-align: center; /* Centraliza o texto */
    margin: 0.5rem 0; /* Adiciona espaçamento ao redor do texto */
    text-align: center; /* Centraliza o texto */
  }
  .about__title {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
  }
  .about__description {
    font-size: 1rem;
    font-size: 1rem; /* Reduz o tamanho do texto */
    text-align: center; /* Centraliza o texto */
    margin: 1rem 0; /* Adiciona espaçamento ao redor do texto */
  }
}
@media (max-width: 1147px) {
}

/* Ajusta telas intermediárias */
@media (min-width: 1148px) and (max-width: 1280px) {
  .about__wrapper {
    gap: 2.5rem; /* Ajusta o espaçamento entre os elementos */
    padding: 0 3rem; /* Padding lateral adequado */
  }

  .about__photos {
    width: 30%; /* Ajusta a largura das fotos */
    margin: 0 3rem;
  }

  .about__content {
    width: 50%; /* Ajusta a largura do conteúdo */
    margin-top: 3rem;
  }

  .about__title {
    font-size: 3rem; /* Reduz o tamanho do título */
  }

  .about__description {
    font-size: 1.4rem; /* Reduz o tamanho do texto */
  }
}
/* Ajusta telas grandes */
@media (min-width: 1600px) {
  .about__wrapper {
    gap: 3rem;
    padding: 0 4rem;
  }
  .about__photos {
    width: 30%;
    max-width: auto;
    margin: 0 4rem;
  }
  .about__content {
    margin-top: 2rem;
    width: 60%;
  }
}
